<!-- entrenador/edit_ejercicio.html -->
{% extends 'base.html' %}
{% block title %}Editar Ejercicio{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        <i class="bi bi-pencil me-1"></i>Editar Ejercicio en "{{ w_exercise.workout.title }}"
                    </h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'workout_detail' w_exercise.workout.id %}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left me-1"></i>Cancelar
                            </a>
                            <button type="submit" class="btn btn-excel">
                                <i class="bi bi-check-circle me-1"></i>Guardar Cambios
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}